.container{
    width: 60vw;
    margin: auto;
/* background-color: aquamarine; */
}
*{
    background: azure;
}
.heading{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vw;
    margin-top: 3vw;
}
.input1{
    border: none;
    border: 1px solid #80cfa9;
    outline: none;
    border-right: none;
    /* margin-right: 0;
    padding-right: 0; */
    /* margin-top: 1vw; */
    text-transform: capitalize;
    width: 79%;
    height: 3.5vw;
    font-size: 2.5vw;
    border-radius:5px 0 0 5px ;
}
.btn1{
    border: none;
    padding: 1.2vw 0 2.7vw 0;
    border: 1px solid #80cfa9;
    color: #80cfa9;
    /* margin-left: 0;
    padding-left: 0; */
    width: 19%;
    font-size: 1.8vw;
    height: 4vw;
    border-radius: 0 5px 5px 0;
}
.btn1:hover{
    color: black;
    background: #80cfa9;
    cursor: pointer;
}
.error_msg{
    text-align: center;
    color:  #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
    text-transform: capitalize;
    padding: 10px 0;
    border-radius: 5px;
    display: none;
}
.list_itm{
    width: 75%;
    display: inline-block;
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}
.none{
    display: none;
}
.far{
    cursor: pointer;
}
.single-element{
    margin-top:2vw ;
}